.music-main-info {
	max-width: 1040px;
	margin: 0 auto;
}

.music-main-ul {
	display: flex;
	justify-content: center;
	line-height: 43px;
	border-bottom: 1px solid #ddd;
}

.music-tab-item {
	font-size: 15px;
	padding: 0 12px;
}

.music-tab-link {
	display: block;
	width: 60px;
	text-align: center;
	color: #000;
	line-height: 43px;
	margin-bottom: -1px;
	border-bottom: 2px solid transparent;
}

@import "recommend";