$footer-height: 50px;

.footer {
	flex: none;
	height: $footer-height;
	background-color: #f6f6f8;
	border-top: 1px solid $border-color;
	display: flex;
}

/* 播放操作栏 */
.player-btn-bar {
	width: 200px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.player-prev, .player-next {
		font-size: 34px;
	}
	.player-start {
		font-size: 38px;
		padding: 0 20px;
	}
	.player-prev, .player-next, .player-start {
		&:hover {
			color: rgb(81, 171, 249);
		}
	}
}

/* 播放进度栏 */
.music-plan-bar {
	flex: 1;
	display: flex;
	height: 100%;
	align-items: center;
	line-height: $footer-height;
	.music-player {
		display: none;
	}
	/* 当前播放时间 */
	.cur-time {
		margin: 0 6px;
	}
	/* 音乐总时间 */
	.total-time {
		margin: 0 6px;
	}
	/* 音乐进度条 */
	.song-progress {
		flex: 1;
		background-color: rgba(0, 0, 0, 0.2);
		height: 4px;
		margin: 0 6px;
		border-radius: 2px;
		.progress-bar {
			border-radius: 2px;
			height: 100%;
		}
		.progress-corner:hover {
			box-shadow: 0 0 8px #aaa;
		}
	}
	/* 播放控制 */
	.song-control {
		margin-left: 20px;
		display: flex;
		align-items: center;
		/* 音量开关 */
		.volume-toggle {
			height: 20px;
			line-height: 20px;
			color: #666;
			font-size: 17px;
			margin-right: 4px;
			&:hover {
				color: #333;
			}
		}
		/* 音量进度条 */
		.volume-progress {
			width: 100px;
			height: 4px;
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			.volume-progress-val {
				height: 100%;
				border-radius: 2px;
			}
			.progress-corner {
				display: none;
			}
			&:hover .progress-corner {
				display: block;
			}
		}
	}
}

/* 进度条拖动按钮 */
.progress-corner {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #bbb;
	background-color: #fff;
	margin-top: -5px;
	margin-left: -7px;
	line-height: 0;
	font-size: 35px;
	text-align: center;
	&:before {
		@extend .theme-bg;
		content: '';
		width: 4px;
		height: 4px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		margin-top: 3px;
	}
}

/* 切换播放模式按钮 */
.player-type-toggle {
	height: 20px;
	line-height: 20px;
	margin-left: 20px;
	font-size: 20px;
	color: #555;
	&:hover {
		color: #000;
	}
}

/* 歌词开关 */
.lyric-open {
	margin: 0 18px;
	border: 1px solid #999;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	&:hover {
		border-color: #555;
	}
}

/* 播放列表 */
.player-list {
	display: flex;
	align-items: center;
	.player-list-open {

	}
	.player-list-icon {
		font-size: 16px;
	}
	.player-list-num {
		display: inline-block;
		width: 30px;
		height: 15px;
		line-height: 15px;
		margin-right: 18px;
		margin-left: -3px;
		border-radius: 0 8px 8px 0;
		background-color: #ddd;
		text-align: center;
	}
}